@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
}

.pretector-home-background{
  background: url(/static/img/index_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-home{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
.img-middle{
  max-height: 50%;
  max-width: 50%;
}
/*cus padding*/
.p-t-5 {
  padding-top: 5% !important;
}
.p-t-10 {
  padding-top: 10% !important;
}
.p-t-13 {
  padding-top: 13% !important;
}
.p-t-15 {
  padding-top: 15% !important;
}
.p-t-30 {
  padding-top: 30% !important;
}
.p-b-5 {
  padding-bottom: 5% !important;
}
.p-b-10 {
  padding-bottom: 10% !important;
}
.p-b-15 {
  padding-bottom: 15% !important;
}
.p-b-30 {
  padding-bottom: 30% !important;
}
.m-t-5{
  margin-top: 10px !important;
}
.m-t-10{
  margin-top: 10% !important;
}
.l-h-8px{
  line-height: 8px;
}
.l-h-150{
  line-height: 150%;
}
.l-h-200{
  line-height: 200%;
}
.l-h-300{
  line-height: 300%;
}
.p-l-1 {
  margin-left: $spacer-x !important;
}
.p-r-5{
  padding-right: 2%;
  padding-left: 0;
}
.text-right{
  text-align: right;
}

.pretector-button-voip {
  width:300px;
  height:200px;
  font-size:30px;
}

.pretector-text-title {
  padding-bottom: 5%;
  font-size: 25px;
}

.pretector-text-none {
  left: 0;
  position:absolute;
  text-align:center;
  top: 50%;
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
}
/*.pretector-text-tem { 
  position: absolute;
  left: 38px;
  top: 50px;
  width: 66px;
  word-wrap: break-word;
}
.pretector-text-hum { 
  position: absolute;
  left: 32px;
  top: 53px;
  width: 66px;
  word-wrap: break-word;
}
.pretector-text-utime1 { 
  position: absolute;
  left: 38px;
  top: 30px;
  width: 66px;
  word-wrap: break-word;
}
.pretector-text-utime2 { 
  position: absolute;
  font-size: 0.5em;
  left: 34px;
  top: 50px;
  width: 66px;
  word-wrap: break-word;
}*/