@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
}

.pretector-home-background{
  background: url(/static/img/index_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.img-home{
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
.img-middle{
  max-height: 50%;
  max-width: 50%;
}
.img-small{
  max-height: 25%;
  max-width: 25%;
}
.title-h-10{
  height: 80px;
}
.text-c-lightblue{
  color: #50C8FA;
}
.text-c-blue{
  color: #004D79;
}
/*cus padding*/
.p-t-5 {
  padding-top: 5% !important;
}
.p-t-10 {
  padding-top: 10% !important;
}
.p-t-13 {
  padding-top: 13% !important;
}
.p-t-15 {
  padding-top: 15% !important;
}
.p-t-20 {
  padding-top: 20% !important;
}
.p-t-30 {
  padding-top: 30% !important;
}
.p-b-5 {
  padding-bottom: 5% !important;
}
.p-b-10 {
  padding-bottom: 10% !important;
}
.p-b-15 {
  padding-bottom: 15% !important;
}
.p-b-30 {
  padding-bottom: 30% !important;
}
.p-l-5{
  padding-left: 5% !important;
}
.p-l-7{
  padding-left: 7% !important;
}
.p-l-10{
  padding-left: 10% !important;
}
.p-l-12{
  padding-left: 12% !important;
}
.p-l-15{
  padding-left: 15% !important;
}
.p-l-50{
  padding-left: 50% !important;
}
.p-r-5{
  padding-right: 5% !important;
}
.p-r-9{
  padding-right: 9% !important;
}
.p-r-10{
  padding-right: 10% !important;
}
.p-r-12{
  padding-right: 12% !important;
}
.m-l-5{
  margin-left: 5px !important;
}
.m-r-5{
  margin-right: 5px !important;
}
.m-t-5{
  margin-top: 5px !important;
}
.m-t-10{
  margin-top: 10% !important;
}
.m-t-10px{
  margin-top: 10px !important;
}
.m-t-15{
  margin-top: 15px !important;
}
.m-b-5{
  margin-bottom: 5px !important;
}
.m-b-10{
  margin-bottom: 10% !important;
}
.l-h-8px{
  line-height: 8px;
}
.l-h-150{
  line-height: 150%;
}
.l-h-200{
  line-height: 200%;
}
.l-h-300{
  line-height: 300%;
}
.p-l-1 {
  margin-left: $spacer-x !important;
}
.p-r-5{
  padding-right: 2%;
  padding-left: 0;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-bottom{
  vertical-align: text-bottom;
}
.text-f-36 {
color: #6B6B6B;
font-size: 36px;
}

.text-f-24 {
color: #6B6B6B;
font-size: 24px;
font-weight: 800px;
}

.noborder{
  border:0;
}
.nopadding-r{
  padding-right:0;
}
.bg-primary{
  background-color: #283F89;
}
.btn-primary{
  background-color: #283F89;
}
.modal-middle{
  width: 450px;
}

.btn-voip-connected{
  
}

/*column same hight*/

/*.pretector-button-voip {
  width:300px;
  height:200px;
  font-size:30px;
}*/

.pretector-text-title {
  padding-bottom: 5%;
  font-size: 23px;
}

.pretector-text-none {
  left: 0;
  position:absolute;
  text-align:center;
  top: 50%;
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
}

.pretector-detail-card-title {
  color: #666666;
}
.pretector-detail-card-subtitle {
  font-size: 55pt;
}
.pretector-detail-card-empty {
  height: 80px;
}

.pretector-detail-card-empty-b {
  height: 20px;
}
.login-bt{
  background-color:#283F89;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.login-bt:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.register-bt{
  background-color: Transparent;
  border: 2px solid #3F5AB4;
  color: #000000;
  border-radius:4px;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.register-bt:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
input {
  border-radius: 4px !important; 
}
.full-width{
  width: 100%;
}
.fadeInAnimate{
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

/*cus layout*/

.row.no-gutter [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.row.no-gutter .thumbnail {
  margin-bottom: 0;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutter .thumbnail>img {
  width: 100%;
}




@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


/*.pretector-text-tem { 
  position: absolute;
  left: 38px;
  top: 50px;
  width: 66px;
  word-wrap: break-word;
}
.pretector-text-hum { 
  position: absolute;
  left: 32px;
  top: 53px;
  width: 66px;
  word-wrap: break-word;
}
.pretector-text-utime1 { 
  position: absolute;
  left: 38px;
  top: 30px;
  width: 66px;
  word-wrap: break-word;
}
.pretector-text-utime2 { 
  position: absolute;
  font-size: 0.5em;
  left: 34px;
  top: 50px;
  width: 66px;
  word-wrap: break-word;
}*/


/*shadow animate*/

.drop-shadow{
    -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    -webkit-transition: -webkit-filter 0.3s ease-in-out;
    transition: filter 0.2s ease-in-out;
}

.drop-shadow:hover{
    -webkit-filter: drop-shadow(10px 13px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.7))
}


/*check mark animate*/
@import "bourbon";

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 20% 0px 0px 25%;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}

/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  color:#FFFFFF;
  border-color: #FFFFFF;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */