<!DOCTYPE html>
<html lang="en" class="pretector-home-background">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>PREtector Demo-Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" >
  <link href="static/css/styles.css" rel="stylesheet">
  <script src="static/vendor/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="static/vendor/moment.min.js"></script>
  <script src="static/vendor/daterangepicker.js"></script>
  <script src="static/vendor/getPara.js"></script>
  <!-- local js file -->
  <script src="static/js/RP_index.js"></script>
</head>

<body>

  <div class="col-md-2 col-md-offset-5 text-center p-t-10 fadeInAnimate">
  <a href="/"><img class="img-home img-middle drop-shadow" src="/static/img/pretector_logo.png"></img></a>
  <img class="img-home p-b-10" src="/static/img/index_brand.png"></img>
  <div class="input-group p-b-5 ">
    <input type="text" id="user_name" name="user_name" class="form-control" placeholder="名稱" form="form_login">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
      </ul>
    </div>
  </div>
  <div class="input-group p-b-10 full-width">
    <input type="password" id="user_pass" name="user_pass" class="form-control" placeholder="密碼" form="form_login">
  </div>
  <div class="alert alert-danger alert-dismissible" id="alert-panel" role="alert" style="display: none;">
    <button type="button" class="close" onclick="$('#alert-panel').slideUp();">×</button>
  </div>
<!--   <div class="alert alert-danger" id="alert-panel">
    <button type="button" class="close" onclick="$('#alert-panel').slideUp();">×</button>
    <div class="alert-body" id="alert-panel-body"></div>
  </div> -->
  <form id="form_login" name="form_login" action="javascript:loginEvent('dashboard');" class="p-b-5">
    <input type="submit" class="btn btn-primary btn-block login-bt " value="登入">
  </form>
   <a type="button" class="btn btn-block register-bt" href="/register">註冊</a>
  </div>

</body>
</html>

