<!DOCTYPE html>
<html lang="en" class="pretector-home-background">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>PREtector Demo-Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" >
  <link href="static/css/styles.css" rel="stylesheet">
  <script src="static/vendor/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="static/vendor/moment.min.js"></script>
  <script src="static/vendor/daterangepicker.js"></script>
  <script src="static/vendor/getPara.js"></script>
  <!-- local js file -->
  <script src="static/js/RP_index.js"></script>
</head>

<body>

  <div class="col-md-2 col-md-offset-5 text-center p-t-10">
  <img class="img-home img-middle" src="/static/img/pretector_logo.png"></img>
  <img class="img-home p-b-10" src="/static/img/index_brand.png"></img>
  <div class="input-group p-b-5">
    <input type="text" class="form-control" placeholder="名稱">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><a id="hospitalLogin" href="#">Taoyuan General Hospital (桃園隸屬醫院)</a></li>
        <li><a id="homeLogin" href="#">Taoyuan Jen-l Senior Citizen's Home (桃園仁愛之家)</a></li>
      </ul>
    </div>
  </div>
  <div class="input-group p-b-10 full-width">
    <input type="password" class="form-control" placeholder="密碼">
  </div>
   <button type="button" class="btn btn-primary btn-block login-bt">登入</button>
   <button type="button" class="btn btn-block register-bt">註冊</button>
  </div>



</body>
</html>

