<!DOCTYPE html>
<html lang="en" class="pretector-home-background">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>PREtector Demo-Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" >
  <link href="static/css/styles.css" rel="stylesheet">
  <script src="static/vendor/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="static/vendor/moment.min.js"></script>
  <script src="static/vendor/daterangepicker.js"></script>
  <script src="static/vendor/getPara.js"></script>
  <!-- local js file -->
  <script src="static/js/RP_index.js"></script>
</head>

<body>

  <div class="col-lg-4 col-lg-offset-3 p-t-10 p-l-10">
   <div class="form-group row p-b-5">
    <div class="col-xs-4 col-form-label text-right title-h-10">
      <img class="img-home " src="/static/img/pretector_logo.png">
    </div>
      <h1 class="col-xs-8 col-form-label text-center text-c-lightblue">註冊帳號</h1>
    </div>
    <div class="form-group row">
      <label class="col-xs-4 col-form-label text-right text-c-blue">機構名稱</label>
      <div class="col-xs-8">
        <input class="form-control" type="text" placeholder="Ex. 元智大學" id="example-text-input">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-4 col-form-label text-right text-c-blue">聯絡電話</label>
      <div class="col-xs-8">
        <input class="form-control" type="tel" maxlength="10" id="example-tel-input">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-4 col-form-label text-right text-c-blue">E-mail</label>
      <div class="col-xs-8">
        <input class="form-control" type="email" id="example-email-input">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-4 col-form-label text-right text-c-blue">密碼</label>
      <div class="col-xs-8">
        <input class="form-control" type="password" id="example-password-input">
      </div>
    </div>
   <div class="form-group row">
      <label class="col-xs-4 col-form-label"></label>
      <div class="col-xs-8">
           <button type="button" class="btn btn-primary btn-block login-bt">完成</button>
      </div>
   </div>
  </div>



</body>
</html>

